<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="/main.css">
  <title>Edit Post</title>

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

</head>

<body>

  <%- include("nav-bar.ejs") %>

  <header>
    <h1>Edit Previous Post</h1>
    <p>Published on <%= locals.currentDate %></p>

  </header>
  <div>
  <form action="/edit-post" method="POST">
    <div>
      <label for="post-title-label">Edit Post Title:</label>
      <textarea name="editedBlogTitle" rows="2" cols="20"><%= newPost.blogTitle %>
      </textarea>
    </div>
    
    <div>
      <label for="post-body-label">Edit Blog Text:</label>
      <textarea name="editedBlogBody" rows="10" cols="50"><%= newPost.blogBody %>
      </textarea>
      <input type="submit" value="Edit Post">
    </div>
  </form>

  <div class="post">
    <% if (locals.updatedPost) { %>
      <% allPosts.forEach(post => { %>
        <div class="post">
          <a href="/edit-post"> <%= post.blogNumber %>) <%= post.blogTitle %></a>
        </div>
      <% }) %>
    <% } else { %>
      <% console.log("Error occurred, no no 'locals.newPost' exists"); %>
      <% } %>

    <% if (locals.postData) { %>
      <% allPosts.forEach(post => { %>
        <div class="post">
          <p> Post Number: <%= postData.blogNumber %> </p><a href="/edit-post"> <p><%= postData.blogNumber %>) <%= postData.blogTitle %></p></a>
          <p>Body:</p> <p><%= postData.blogBody %></p>
        </div>
      <% }) %>
    <% } else if (locals.editedPost) { %>
      <% } %>

</body>

</html>

